<!DOCTYPE html>
<title>About Us - なうトレ</title>
<div class="container mt-4 text-center">
  <h2>ようこそ、<strong>なうトレ</strong>へ！</h2>
  <div class="mt-4">
    <p>
      なうトレは、みなさんの目標達成をサポートし、共に成長するためのプラットフォームです。
    </p>
    <p>
      私たちは、目標を設定し、それを宣言することで、自己成長を促進し、ユーザー同士がお互いを励まし合う場を提供しています。
    </p>
  </div>
  <div class="container text-center mt-4">
    <%= image_tag asset_path("chara1.png"), style: "width: 300px; height: 450px;" %>
  </div>

</div>
