<div class="container">
  <div class="row">
    <h2 class="mt-5 mb-5">会員一覧</h2>
    <table class="table">
      <thead>
        <tr>
          <th class="text-center">登録日</th>
          <th class="text-center">ユーザー名</th>
          <th class="text-center">投稿数</th>
          <th class="text-center">合計ブックマーク数</th>
        </tr>
      </thead>
      <tbody>
        <% @users.each do |user| %>
          <tr>
            <td class="link text-center">
              <%= user.created_at.strftime("%Y-%m-%d") %>
            </td>
            <td class="text-center">
              <%= user.name %>
            </td>
            <td class="text-center">
              <% total_posts = user.posts.count %>
              <%= total_posts %>
            </td>
            <td class="text-center">
              <% total_bookmarks = 0 %>
              <% user.posts.each do |post| %>
                <% total_bookmarks += post.bookmarks.count %>
              <% end %>
              <%= total_bookmarks %>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>